/* Task 9 */

body {
    background-color: gray;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

button:hover {
    color: black;
    transform: scale(1.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, color 0.2s ease;
}