/* Task 9 */
nav a { 
                margin: 0 50px; 
                color: white;
                text-decoration: none;
            }

            nav a:hover {
                text-decoration: underline;
            }

            nav {
                padding: 10px;
                background-color: green;
            }
            
            body {
                text-align: center;
            }

            button:hover {
                color: rgb(76, 0, 255);
                transform: scale(1.2);
                text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
                transition: transform 0.2s ease, color 0.2s ease;
            }

           @media (max-width: 600px) {
                body {
                    text-align: center;
                }

                nav a { 
                    margin: 0 50px; 
                    color: white;
                    text-decoration: none;
                }

                img {
                    width: 100%;
                    height: auto;
                }

            }


            footer a { 
                margin: 0 50px; 
                color: white;
                text-decoration: none;
            }

            .container {
                max-width: 900px;
                margin: auto;
                padding: 20px;
                background-color: #fafafa;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }

.flash-container {
    margin: 10px 0;
}

.flash {
    background-color: #e0ffe0;
    border: 1px solid #00aa00;
    padding: 5px 10px;
    border-radius: 5px;
    color: #004400;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}