<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Flask App{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- Task 12 -->
        <header>
            <h1>Flask Website</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/notes">Notes</a>
                <a href="/about">about</a>
            </nav>
        </header>

        <main>
            {% block content %}
            <!-- All Content is here -->
            {% endblock %}
        </main>

        <footer>
            <p>© 2025 Flask App</p>
        </footer>
    </body>
</html>