<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flask Starter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- Task 1 -->
        <h1>Hello, Flask!</h1>
        <a href="/greet/ridho">task 2 - greet</a>
        <a href="/form">task 3 - form</a>
        <a href="/about">task 4 - About me</a>
        <a href="/profile">task 5 - profile</a>
        <a href="/feedback">task 6 - feedback</a>
        <a href="/notes">task 7 - notes</a>
    </body>
</html>