{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
        <!-- Task 7 -->
        <h1>Notes</h1>
        <form method="POST">
            <input name="note" placeholder="Tell Me What you thought">
            <button type="submit">Add</button>
        </form>

        <ul>
            {% for note in notes %}
                <li>{{ note }}
                    <a href="/delete/{{ loop.index0 }}">X</a>
                    <a href="/edit/{{ loop.index0 }}">EDIT</a>
                </li>
            {% endfor %}
        </ul>

        <a href="/">home</a>
{% endblock %}