{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
        <!-- Task 7 - add form -->
        <h1>Notes</h1>
        <form method="POST">
            <input name="note" placeholder="Tell Me What you thought">
            <button type="submit">Add</button>
        </form>

        <!-- Task 13 -  -->
        <form method="GET" style="margin-top: 10px;">
            <input name="q" placeholder="Search notes..." value="{{ query }}">
            <button type="submit">Search</button>
            <a href="/notes">Clear</a> <!-- delete current type search-->
        </form>

        <!-- Displaying Notes-->
        {% if notes %}
            <ul>
                {% for note in notes %}
                    <li>{{ note.text }}
                        <a href="/delete/{{ note.id }}">X</a>
                        <a href="/edit/{{ note.id }}">EDIT</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No notes found.</p> <!-- show this when no matching find-->
        {% endif %}

        {% if pagination.pages > 1 %}
        <div class="pagination">
            {% if pagination.has_prev %}
                <a href="{{ url_for('notes_page', page=pagination.prev_num, q=query) }}">⬅ Prev</a>
            {% endif %}
            <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>
            {% if pagination.has_next %}
                <a href="{{ url_for('notes_page', page=pagination.next_num, q=query) }}">Next ➡</a>
            {% endif %}
        </div>
        {% endif %}

        <a href="/">home</a>
        <a href="/logout">Log Out</a>
{% endblock %}