{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
        <!-- Task 7 - add form -->
        <h1>Notes</h1>
        <form method="POST">
            <input name="note" placeholder="Tell Me What you thought">
            <button type="submit">Add</button>
        </form>

        <!-- Task 13 -  -->
        <form method="GET" style="margin-top: 10px;">
            <input name="q" placeholder="Search notes..." value="{{ query }}">
            <button type="submit">Search</button>
            <a href="/notes">Clear</a> <!-- delete current type search-->
        </form>

        <!-- Displaying Notes-->
        {% if notes %}
            <ul>
                {% for note in notes %}
                    <li>{{ note }}
                        <a href="/delete/{{ loop.index0 }}">X</a>
                        <a href="/edit/{{ loop.index0 }}">EDIT</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No notes found.</p> <!-- show this when no matching find-->
        {% endif %}

        <a href="/">home</a>
{% endblock %}